<div *ngIf="hero">
  <h2 appHighlight>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{idFromParams}}</div>
  <div>
    <label>name:
      <input  [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
</div>
<div>
  <div>
    <label>id:
      <input [(ngModel)]="newHero.id" placeholder="id"/>
    </label>
  </div>
  <div>
    <label>name:
      <input appBlockCopyPaste [(ngModel)]="newHero.name" placeholder="name"/>
    </label>
  </div>

  <button (click)="setNewHero()"> Guardar </button>
</div>